bind kbMove_n KEY_w
bind kbStrafe_l KEY_a
bind kbMove_s KEY_s
bind kbStrafe_r KEY_d
bind kbDash_n KEY_AT
bind kbDash_w KEY_EP
bind kbDash_s KEY_HASH
bind kbDash_e KEY_DOLLAR
bind kbTurn_l KEY_q
bind kbTurn_r KEY_e
bind kbLeftArm_use KEY_z
bind kbRightArm_use KEY_x
bind kbOpenConsole KEY_TILDA
bind kbShowWpns KEY_TAB
bind kbMelee KEY_f
bind kbSwapWpn_1 KEY_1
bind kbSwapWpn_2 KEY_2
bind kbSwapWpn_3 KEY_3
bind kbSwapWpn_4 KEY_4
bind kbSwapWpn_5 KEY_5
bind kbSwapWpn_6 KEY_6
bind kbSwapWpn_7 KEY_7
bind kbSwapWpn_8 KEY_8
bind kbSwapWpn_9 KEY_9
bind kbSwapWpn_10 KEY_0
bind kbExitToPause CTRL_x
